body {
background-color: white;
}
.hidden {
display: none
}
@keyframes spinnerRotate {
from {
transform:rotate(0deg);
}
to {
transform:rotate(360deg);
}
}
#spinner {
display: block;
margin: auto;
/*
animation-name: spinnerRotate;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
*/
padding-top: 32px;
max-height: 7em;
max-width: 7em;
}
#logo {
display: block;
margin: auto;
outline: 0;
max-width: 100%;
height: auto;
}
